name: x-AF-Build

on:
  workflow_call:

    inputs:
      project_path:
        required: true
        type: string

env:
  DOTNET_VERSION: '8.0.x'


jobs:
  Build:
    runs-on: [self-hosted, linux, x64, build]

    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Clear nugets source list
      continue-on-error: true
      shell: bash
      run: |
        pushd ${{ github.workspace }}
        dotnet nuget remove source github
        popd

    - name: Add PA1 private nugets
      shell: bash
      run: |
        pushd ${{ github.workspace }}
        dotnet nuget add source --username USERNAME --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text --name github "https://nuget.pkg.github.com/NationalAirCargoHoldings/index.json"
        popd

    - name: Dotnet Build
      shell: bash
      run: |
        pushd ${{ github.workspace }}
        dotnet build --configuration Release
        popd

    - name: Dotnet Run Unit Tests
      shell: bash
      run: |
        pushd ${{ github.workspace }}
        dotnet test --no-restore --verbosity minimal
        popd

    - name: Dotnet Publish
      shell: bash
      run: |
        pushd ${{ github.workspace }}
        dotnet publish "${{ inputs.project_path }}" --configuration Release --no-build --output ./output
        popd

    - name: upload output
      if: github.event_name == 'workflow_dispatch'
      uses: actions/upload-artifact@v4
      with:
        name: output
        path: ${{ github.workspace }}/output
        include-hidden-files: true
