name: x-AF-Deploy_NoAPIM

on: 
  workflow_call:

    inputs:
      environment_name:
        description: 'Name of the Environment'
        required: true
        type: string
      functionapp_name:
        description: 'Name of the Azure Function App'
        required: true
        type: string
      subscription_id:
        required: true
        type: string
      resource_group_name:
        required: true
        type: string       
      specification_url:
        required: false
        type: string    
    secrets:
      AZURE_CLIENT_ID:
        required: true
      AZURE_CLIENT_SECRET:
        required: true
      AZURE_TENANT_ID:
        required: true

env:
  ARM_SUBSCRIPTION_ID: ${{ inputs.subscription_id }}
  ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
  ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

jobs:
  Deploy:
    runs-on: [self-hosted, linux, x64, deploy]
    environment: ${{ inputs.environment_name}}

    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ inputs.subscription_id }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

    - name: Get Publish Profile
      run: |
        publish_profile=$(az webapp deployment list-publishing-profiles -g '${{ inputs.resource_group_name }}' -n '${{ inputs.functionapp_name }}' --xml)
        echo "::add-mask::$publish_profile"
        echo "publish_profile=$publish_profile" >> "$GITHUB_OUTPUT"
      id: Get-Publish-Profile

    - name: Downloading Artifact
      uses: actions/download-artifact@v4

    - name: Deploy Azure Functions Action
      uses: Azure/functions-action@v1
      with:
        app-name: ${{ inputs.functionapp_name }}
        package: ${{ github.workspace }}/output
        publish-profile: ${{ steps.Get-Publish-Profile.outputs.publish_profile }}

    - name: Check the deployed service URL
      if: inputs.specification_url != null
      uses: jtalk/url-health-check-action@v3
      with:
        url: ${{ inputs.specification_url }}
        max-attempts: 100 
        retry-delay: 6s
        retry-all: true